.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#F50057,#FF4081);
}
.title{
    text-align: center;
    margin: 1rem 0;
}
 .box{
     margin: 0 auto;
  max-width: 900px;
    width: 100%;
    box-shadow: .5rem 1rem 3rem rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 10px;
    background: linear-gradient(135deg,#F50057,#FF4081);
}
 .box{
    width: 100%;
    padding: 1.6rem;
}
 .login{
    width: 100%;
    padding:  2rem;
    width: 400px;
}
 .box h1{
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}
 .box .field{
    width: 100%;
    margin-bottom: .8rem;
}
 .box .field .message{
    color: #E53935;
    margin-top: 8px;
    font-weight: bold;
    display: block;
}
 .box .field label{
    font-size: 20px;
    color: #fff;
}
 .box .field input,.box .field textarea,.box .field select{
    width: 100%;
    margin-top: .6rem;
    border: none;
    outline: none;
    font-size: 20px;
    padding: .5rem ;
    background: #E0F2F1;
    border-radius: 5px;
}
.box .field textarea{
    height: 150px !important;
    resize: none !important;
}
.box .question{
    margin-bottom: 4rem;
}
 .box a.link{
    margin-top: .5rem;
    display: block;
    text-decoration: underline;
}
 .box .field:last-child{
margin-bottom: 0rem;
}
 .box .field input::placeholder{
font-size: 16px;
}
 .box .save-quiz input[type="submit"]{
    width: 100%;
    display: block;
    padding: .5rem 0;
    font-size: 1.4rem;
    background:linear-gradient(135deg,#a00078,#a11041);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.1);
    margin-bottom: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}
/* Login Signup Style end here */